:root {
    --color-bar-nota: #8C52FF;
    --white: #fff;
    --color-bar-nota: #8C52FF;
    --background: #e8e8e8;
    --button-hover: #cfcfcf;
    --text-color: #000;
    --sidebar-active: #fafafa;
    --site-background: #fefaff;
    --switch: #777;
    --text-muted: #111111;
    --card: white;
    --calendar-tittle: #ffffff;
    --calendar-background: #ffffff;
    --calendar-purple: #aa8de4;
    --calendar-day-other: #f8f6f6;
    --calendar-day-today-tittle: #000000;
    --calendar-day-today-background: #DAD4E6;
    --event-title: #000000;
    --event-background: #ffffff;
    --multimonth-title: #000000;
    --modal-background: #ffffff;
    --popover-background: #ffffff;
    --popover-title: #000000;
}

.dark-theme {
    --card: #181818;
    --background: #1F1F1F;
    --button-hover: #303030;
    --text-color: #fff;
    --sidebar-active: #050505;
    --site-background: #070507;
    --switch: #888;
    --white: #141414;
    --text-muted: #acacac;
    --calendar-background: #000000;
    --calendar-purple: #aa57fa;
    --calendar-day-other: #231f20;
    --calendar-day-today-tittle: #ffffff;
    --calendar-day-today-background: #1b1b1b;
    --event-title: #ffffff;
    --event-background: #000000;
    --multimonth-title: #ffffff;
    --modal-background: #212529;
    --popover-background: #212529;
    --popover-title: #ffffff;
}

body {
    transition: 0.3s ease-in-out;
    min-height: 100vh;
    background-color: var(--site-background);
}

/*barra scroll*/
body::-webkit-scrollbar {
    width: 8px;
}

body::-webkit-scrollbar-track {
    background: var(--switch)
}

body::-webkit-scrollbar-thumb {
    background-color: var(--color-bar-nota);
    height: 10vh;
}

.navbar {
    background-color: var(--white);
    transition: 0.3s ease-in-out;
}

/*nota layout*/

.btn-close {
    color: var(--text-color);
}

.modal {
    border: none;
    outline: none;

}

.modal-body {
    max-height: 90vh;

}

.modal-body input[name="txttitulo"] {
    font-size: 30px !important;
    font-weight: bold;
    border: none;
    margin-bottom: 10px;
    width: 100%;
    color: var(--text-color);

}

.modal-body input[name="txtsubtitulo"] {
    font-size: 21px;
    margin-bottom: 10px;
    border: none;
    width: 100%;
    color: var(--text-color);

}

.modal-body textarea[name="txtconteudo"] {
    font-size: 16px;
    border: none;
    width: 100%;
    resize: none;
    height: 26vh;
    color: var(--text-color);
}

.modal-body input[name="txttitulo"]:focus {
    font-size: 30px;
    font-weight: bold;
    border: none;
    box-shadow: none;
    outline: none;
    color: var(--text-color);
    
}

.modal-body input[name="txtsubtitulo"]:focus {
    border: none;
    box-shadow: none;
    outline: none;
    color: var(--text-color);

}

.modal-body textarea[name="txtconteudo"]:focus {
    box-shadow: none;
    outline: none;
    border: none;
    color: var(--text-color);

}

.modal-width {
    width: 100%;
    height: 60vh;
    margin-left: auto;
    margin-right: auto;
}

.create-note .modal-header button[name="modal-close"]:focus {
    box-shadow: none;
    outline: none;
    border: none;
}

.offcanvas-backdrop.show {
    opacity: .0;
}

.offcanvas.offcanvas-end {
    border-left: none;
}

.offcanvas-noti {
    height: 94.1vh;
    margin-top: auto
}

#postar-nota {
    display: block;
    text-align: center;
    padding: 0.4rem 1.2rem;
    font-size: var(--bs-nav-link-font-size);
    font-weight: bold;
    color: var(--text-color);
    text-decoration: none;
    background: var(--background);
    transition: 0.3s ease-in-out;
}

#postar-nota:hover {
    background: var(--button-hover);
    transition: 0.3s ease-in-out;
}

.nota-content {
    position: relative;
    padding-left: 10px; 
}

.nota-content::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 15px;
    height: 100%;
    background-color: var(--color-bar-nota); 
    z-index: 1;
}

@media (max-width: 767px) {
    .nota-content {
        padding-left: 0;
        padding-top: 20px; 
    }
    
    .nota-content::before {
        width: 100%;
        height: 15px;
        left: 0;
        top: 0;
        background-color: var(--color-bar-nota);  
        z-index: 1;
    }
}
.nota-contentt {
    position: relative;
    padding-left: 10px; 
}

.nota-contentt::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 15px;
    height: 100%;
    background-color: var(--color-bar-nota); 
    z-index: 1;
}

@media (max-width: 767px) {
    .nota-contentt {
        padding-left: 0;
        padding-top: 20px; 
    }
    
    .nota-contentt::before {
        width: 100%;
        height: 15px;
        left: 0;
        top: 0;
        background-color: var(--color-bar-nota);  
        z-index: 1;
    }
}

#change-info-btn {
    background: var(--background);
    color: var(--text-color);
    transition: 0.3s ease-in-out;
}

#change-info-btn:hover {
    background: var(--button-hover);
    transition: 0.3s ease-in-out;
}

@keyframes slideFromTop {
    from {
        transform: translateY(-100%);
    }

    to {
        transform: translateY(0);
    }
}


@media (max-width: 768px) {
    .modal-body input[name="txttitulo"] {
        font-size: 24px;
    }

    .modal-body input[name="txtsubtitulo"] {
        font-size: 18px;
    }

    .modal-body textarea[name="txtconteudo"] {
        font-size: 14px;
    }

    .modal-body {
        padding: 10px;
    }

    .modal-body .btn-close {
        margin-right: 10px;
        margin-top: 10px;
    }
}

@media (min-width: 605px) {
    .color-bar-nota {


        margin-top: -15px;
        margin-bottom: -570px;
    }

    .modal-body {
        margin-left: 15px;

    }
}

@media (max-width: 605px) {
    .color-bar-nota {

        height: 2vh;
    }

    .modal-body {
        margin-left: 0px;
    }
}

@media (max-width: 575px) {
    .color-bar-nota {
        width: 100%;
        height: 2vh;
    }

    .modal-body {
        margin-left: 0px;
    }

    .modal-escuro {
        margin-left: 0;
    }
}


@media (max-width: 535px) {
    .color-bar-nota {
        width: 100%;
        height: 25px;

    }

    .modal-body {
        margin-left: 0px;
    }


}



@media (max-height: 1000px) {
    .modal-body input[name="txttitulo"] {
        margin-top: 0px;
    }

    .modal-body input[name="txtsubtitulo"] {
        font-size: 18px;
    }

    .modal-body textarea[name="txtconteudo"] {
        font-size: 14px;
        height: 25vh;
        margin-bottom: -50px;
    }

    .color-bar-nota {
        margin-top: -44px;
    }
}

@media (max-height: 950px) {
    .modal-body input[name="txttitulo"] {
        margin-top: 0px;
    }

    .modal-body input[name="txtsubtitulo"] {
        font-size: 18px;
    }

    .modal-body textarea[name="txtconteudo"] {
        font-size: 14px;
        height: 23vh;
        margin-bottom: -50px;
    }

    .color-bar-nota {
        margin-top: -42px;
    }
}

@media (max-height: 900px) {
    .modal-body input[name="txttitulo"] {
        margin-top: 0px;
    }

    .modal-body input[name="txtsubtitulo"] {
        font-size: 18px;
    }

    .modal-body textarea[name="txtconteudo"] {
        font-size: 14px;
        height: 20vh;
        margin-bottom: -50px;
    }

    .color-bar-nota {
        margin-top: -42px;
    }
}

@media (max-height: 800px) {
    .color-bar-nota {
        margin-top: -40px;
    }

    .modal-body input[name="txttitulo"] {
        margin-top: 0px;
    }

    .modal-body input[name="txtsubtitulo"] {
        font-size: 18px;
    }

    .modal-body textarea[name="txtconteudo"] {
        font-size: 14px;
        height: 18.5vh;
        margin-bottom: -50px;
    }
}

@media (max-height: 750px) {
    .color-bar-nota {
        margin-top: -30px;
    }

    .modal-body input[name="txttitulo"] {
        margin-top: 0px;
    }

    .modal-body input[name="txtsubtitulo"] {
        font-size: 18px;
    }

    .modal-body textarea[name="txtconteudo"] {
        font-size: 14px;
        height: 18.5vh;
        margin-bottom: -50px;
    }

}

@media (max-height: 700px) {
    .color-bar-nota {
        margin-top: -30px;
    }

    .modal-body input[name="txttitulo"] {
        margin-top: 0px;
    }

    .modal-body input[name="txtsubtitulo"] {
        font-size: 18px;
    }

    .modal-body textarea[name="txtconteudo"] {
        font-size: 14px;
        height: 15vh;
        margin-bottom: -50px;
    }

}

@media (max-height: 660px) {
    .color-bar-nota {
        margin-top: -30px;
    }

    .modal-body input[name="txttitulo"] {
        margin-top: 0px;
    }

    .modal-body input[name="txtsubtitulo"] {
        font-size: 18px;
    }

    .modal-body textarea[name="txtconteudo"] {
        font-size: 14px;
        height: 17vh;
        margin-bottom: -70px;
    }

}

@media (max-height: 605px) {
    .color-bar-nota {
        margin-top: -30px;
    }

    .modal-body input[name="txttitulo"] {
        margin-top: 0px;
    }

    .modal-body input[name="txtsubtitulo"] {
        font-size: 18px;
    }

    .modal-body textarea[name="txtconteudo"] {
        font-size: 14px;
        height: 10vh;
        margin-bottom: -50px;
    }

}

@media (max-height: 575px) {
    .color-bar-nota {
        margin-top: -30px;
    }

    .modal-body input[name="txttitulo"] {
        margin-top: 0px;
    }

    .modal-body input[name="txtsubtitulo"] {
        font-size: 18px;
    }

    .modal-body textarea[name="txtconteudo"] {
        font-size: 14px;
        height: 12vh;
        margin-bottom: -80px;
    }

}

.icon-nota {
    color: var(--text-color);
    margin-left: 30px;
    font-size: 25px;
}

.color-checkbox {
    display: none;
}

.color-option {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    cursor: pointer;
    margin: 5px;
}

.color-checkbox:checked+label .color-option {
    border: 2px solid var(--text-color);
}

.color-checkbox:checked+label.color-option {
    border: 2px solid var(--text-color);
}

.color-checkboxx {
    display: none;
}

.color-optionn {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    cursor: pointer;
    margin: 5px;
}

.color-checkboxx:checked+label .color-option {
    border: 2px solid var(--text-color);
}

.color-checkboxx:checked+label.color-option {
    border: 2px solid var(--text-color);
}


#colors-dropdown {
    margin-left: 0px;
    margin-top: -20px
}

/* fim nav*/

/* nota*/

#select-note {
    width: 22vh;
}

.color-bar {
    background-color: var(--color-bar-nota);
}


@media (min-width: 575px) {
    .color-bar {
        width: 1.5vh;
        height: 150px;
    }

    #content-card-note {
        margin-left: -2vh
    }


    #note-ctner {
        padding-top: 65px;
        margin-left: 90px;
    }

    #card-layout-note {
        width: 100%;
        max-width: 160vh;
        margin: 0 auto;
    }
}

@media (min-width: 992px) {

    #content-card-note {
        margin-left: -6vh
    }
}

@media (min-width: 2048px) {

    #content-card-note {
        margin-left: -5vh
    }
}

@media (max-width: 600px) {
    .color-bar {
        height: 16vh;
    }
}

@media (max-width: 575px) {
    .color-bar {
        width: 100%;
        height: 20px;
    }

    #content-card-note {
        margin-left: 0%
    }


}

.modal-content {
    z-index: 9999 !important;
}

.modal-backdrop {
    z-index: 1 !important;
}


/* 3 pontos */
.mini-menu {
    position: relative;

}

#trespontos {
    margin-right: 20px;
    margin-left: auto;
    margin-top: 10px
}

.mini-menu-action {
    color: var(--text-color);

}

.menu {
    position: absolute;
    margin-right: 30px;
    width: 300px !important;
    z-index: 99;
    top: 10%;
    right: 0;
    background-color: var(--white);
    border: 1px solid var(--white);
    border-radius: 5px;
    padding: 5px 0;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    display: none;
    transition: 0.3s ease-in-out;
}

.menu button:hover {
    color: #8C52FF;
    transition: 0.3s ease-in-out;
}

.menu a {
    display: block;
    padding: 5px 10px;
    color: var(--switch);
    text-decoration: none;
}

.menu a:hover {
    background-color: var(--button-hover);
}

input[type="checkbox"] {
    display: none;
}

input[type="checkbox"]+label {
    cursor: pointer;
}

input[type="checkbox"]:checked+label+.menu {
    display: block;
}

/*sidebar*/


#sidebar {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 50px;
    background-color: var(--white);
    height: 94.2vh;
    position: fixed;
    transition: 0.3s ease-in-out;
    min-width: 82px;
    z-index: 99;
    margin-left: -30px;
}

#sidebar_content {
    padding: 7px;
}

#sidebar_content.open-sidebar {
    padding-left: 6px;
}


#side_items {
    display: flex;
    flex-direction: column;
    gap: 8px;
    list-style: none;
}

@media (max-width: 575px) {
    #sidebar {
        position: fixed;
    }

    #note-ctner {
        padding-top: 50px;
        max-width: 50vh;
        display: flex;
        padding-left: 75px;
    }
}

.side-item a {
    border-radius: 8px;
    font-size: 20px;
    padding: 14px;
    cursor: pointer;
}

.side-item.active a {
    background-color: var(--sidebar-active);
    transition: 0.3s ease-in-out;
}

.side-item a {
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--text-color);
}

.side-item.active a {
    color: var(--color-bar-nota);
}

#open_btn_icon {
    transition: transform .3s ease;
}

.open-sidebar #open_btn_icon {
    transform: rotate(180deg);
}

.item-description {
    width: 0px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-size: 14px;
    transition: width .6s;
    height: 0px;
}

.accordion-toggle {
    transition: 0.3s ease-in-out;
    display: none;
}

.hr-muted {
    color: var(--text-muted);
}

/*categoria*/

#categoria-layout .head {
    display: flex;
    align-items: center;
    justify-content: center;
}

#categoria-layout {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.title-categorias {
    display: none;
    margin-bottom: 5px;
    transition: 0.3s ease-in-out;
}

.category-item {
    margin-bottom: 15px;
    border-radius: 10px;
    padding: 10px 15px;
    display: flex;
    justify-content: space-between;
}

.category-item a {
    padding: 0px;
    font-size: 15px;
    color: #000;
}

.buttons-acao {
    display: flex;
}


.category-list {
    list-style: none;
    width: 0px;
    margin-top: 0px;
    overflow: hidden;
    font-size: 13px;
    white-space: nowrap;
    transition: width .6s;
    text-overflow: ellipsis;
}

#sidebar.open-sidebar {
    min-width: 11vh;
}

#sidebar.open-sidebar .item-description {
    width: 125px;
    height: auto;
}

#sidebar.open-sidebar .accordion-toggle{
   display: block;
}

/*categoria*/

#sidebar.open-sidebar #categoria-layout ion-icon {
    justify-content: flex-end;
    padding-right: 17px;
    margin-left: 3px;
}

#sidebar.open-sidebar .category-list {
    width: 200px;
}

#sidebar.open-sidebar .title-categorias {
    display: block;
}

#sidebar.open-sidebar .side-item a {
    justify-content: flex-start;
    gap: 14px;
}

#open_btn {
    background-color: transparent;
    border: none;
}

#open_btn ion-icon {
    color: var(--text-color);
}

/*fim sidebar*/

/* MODAL */
.modal-btn {
    background: var(--background);

    transition: 0.3s ease-in-out;
    color: var(--text-color);
}

.modal-btn:hover {
    background: var(--button-hover);
    color: var(--text-color) !important; 
    transition: 0.3s ease-in-out;
}

.btn.show {
    color: var(--text-color) !important; 
    background: var(--button-hover) !important;
    border: none !important;
}

.create-bd .dropdown-item{
    color: var(--text-color);
    transition: 0.3s ease-in;
    padding: 10px 20px;
}

.create-bd .dropdown-item:hover{
    color: var(--color-bar-nota);
    background-color: transparent;
    transition: 0.3s ease-in;
}


#notifications {
    margin-left: 15px;
    margin-right: 15px;
}

.menu-user-navbar {
    top: auto;
    bottom: 0;
    width: 350px;
    transform-origin: right;
    animation: slideFromTop 0.3s forwards;
    border: none;
    height: 290px;
    margin-left: -310px;
}

.menu-user-navbar a {
    color: var(--text-color);
    text-decoration: none;
}

.profile-img {
    border-radius: 100px;
}



.offcanvas-end {
    animation: slideFromLeft 0.3s forwards;
    border: none;
}


/* toggle button dark mode*/

#chk {
    display: none;
}

.switch {
    position: relative;
    background-color: var(--switch);
    width: 50px;
    height: 25px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    padding: 5px;
    transition: all .5s ease-in-out;
    cursor: pointer;
}

.slider {
    position: absolute;
    background-color: white;
    border-radius: 5px;
    width: 20px;
    height: 20px;
    transition: all .5s ease-in-out;
}

#chk:checked~.switch {
    background-color: var(--color-bar-nota);
}

#chk:checked~.switch .slider {
    transform: translateX(18.5px);
}

#sidebar.open-sidebar .switch {
    width: 50px;
}

.dark-mode-layout {
    padding: 0;
    width: 100%;
    padding-top: 0px;
    height: 1vh;
    transition: .3s ease-in-out;
}

.dark-mode-layout ion-icon {
    font-size: 20px;
    padding-top: 03px;
}

/*extras*/

.card {
    background-color: var(--card);
    color: var(--text-color);
    transition: 0.3s ease-in-out;
}

ion-icon[name="notifications-outline"] {
    color: var(--text-color);
}

.dropdown-menu.show {
    animation: fadeIn .3s ease-in-out forwards;
}

.dropdown-menu {
    background-color: var(--white);
    color: var(--text-color);
    transition: 0.3s ease-in-out;
}

@media screen {
    
}

.no-note,
.dark-mode-layout,
.change-infos {
    color: var(--text-color);
}

.navbar {
    background-color: var(--white);
}

.mini-profile-img {
    border-radius: 50%;
}

.textmuted {
    color: var(--text-muted);
}

.offcanvas-noti {
    background-color: var(--white);
    color: var(--text-color);
}

.offcanvas-noti .card {
    color: var(--text-color);
}

#modalNota .modal-content {
    background-color: var(--white);
    animation: fadeIn .3s ease-out forwards;
}

#modalNota .modal-content .modal-body .form-control {
    background-color: var(--white);
}

input::selection {
    color: var(--text-color) !important;
}

#modalNota .modal-content .modal-body input::placeholder {
    background-color: var(--white);
    color: var(--text-color);
}

#modalNota .modal-content .modal-body textarea::placeholder {
    background-color: var(--white);
    color: var(--text-color);
}

#categorySelect {
    background-color: var(--white);
    color: var(--text-color);
    transition: 0.3s ease-in;
    padding: 7px 10px;
    border-radius: 3px;
    margin-top: 5px;
    margin-bottom: 10px;
    appearance: none;
    background-image: url('data:image/svg+xml;utf8,<svg fill="%238C52FF" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path d="M6.293 7.293a1 1 0 011.414 0L10 9.586l2.293-2.293a1 1 0 111.414 1.414l-3 3a1 1 0 01-1.414 0l-3-3a1 1 0 010-1.414z"/></svg>');
    background-repeat: no-repeat;
    background-position: right 8px top 50%;
    padding-right: 50px;
}


.modal-escuro {
    background-color: var(--card);
    color: var(--text-color);
}

.modal-escuro a {
    color: var(--text-color);
    text-decoration: none;
    list-style: none;
}

.modal-escuro input {
    background-color: var(--background);
}

.modal-escuro input:focus {
    background-color: var(--background);
    outline: none;
    box-shadow: none;
}

#myModal .modal-content {
    background-color: var(--white);
    color: var(--text-color);
}

#myModal .modal-content input {
    background-color: transparent;
    border: none;
    margin-top: 10px;
    padding: 0rem 0rem;
    color: var(--text-color);
}

#myModal .modal-content input:focus {
    outline: none;
    box-shadow: none;
}

#cubo-colors .color-checkbox {
    display: none;
}

#cubo-colors .color-option {
    width: 50px;
    height: 50px;
    border-radius: 10%;
    display: inline-block;
    cursor: pointer;
    margin: 5px;
}

#cubo-colors .color-checkbox:checked+label .color-option {
    border: 2px solid var(--text-color);
}

#myModal .modal-content {
    max-width: 350px;
}

#myModal .modal-content .modal-body input::placeholder {
    color: var(--text-muted);
}

#myModal .modal-content .modal-body {
    margin-left: 0px;
    display: flex;
}

/*POPUP*/

.popup {
    display: none;
    border-radius: 3px;
    border: 0.5px solid #777;
    position: fixed;
    top: 90%;
    right: 30px;
    color: var(--text-color);
    transform: translate(0, 0);
    padding: 20px 20px 12px 20px;
    background-color: var(--white);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    text-align: center;
    overflow: hidden;
}

.popup::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 4px;
    background-color: #8C52FF;
    transform: translateX(-100%);
    animation: slideIn 3s forwards;
    box-shadow: 0 0 10px 2px #8C52FF;
}

@keyframes slideIn {
    to {
        transform: translateX(100%);
    }
}

.offcanvas.show {
    animation: slideLeft 0.5s ease-out forwards;
}

@keyframes slideLeft {
    from {
        transform: translateX(50%);
    }

    to {
        transform: translateX(-0%);
    }
}

@keyframes fadeIn {
    from {
        transform: translateY(50%);
        opacity: 0;
    }

    to {
        transform: translateY(-0%);
        opacity: 1;
    }
}


.select-categoria {
    background-color: var(--white);
    color: var(--text-color);
    transition: 0.3s ease-in;
    padding: 7px 50px 7px 10px;
    border-radius: 3px;
    margin-top: 5px;
    margin-left: 12px;
    margin-bottom: 10px;
    background-image: url('data:image/svg+xml;utf8,<svg fill="%238C52FF" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path d="M6.293 7.293a1 1 0 011.414 0L10 9.586l2.293-2.293a1 1 0 111.414 1.414l-3 3a1 1 0 01-1.414 0l-3-3a1 1 0 010-1.414z"/></svg>');
    background-repeat: no-repeat;
    background-position: right 8px top 50%;
    padding-right: 130px;
    appearance: none;
}

.text-else {
    color: var(--text-color);
}

#inputPassword {
    color: var(--text-color);
}

.offcanvas-header {
    justify-content: space-between;
}

/*cat*/
/*cat*/
/*cat*/

.modal-cat {
    display: none;
    border-radius: 3px;
    position: fixed;
    top: 50%;
    left: 50%;
    color: var(--text-color);
    transform: translate(-50%, -50%);
    padding: 20px;
    background-color: var(--white);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    z-index: 1000;
}

.modal-cat .modal-body {
    margin-left: 0px;
}

.head-modal {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

@media (min-width: 605px) {
    .modal-cat .modal-body {
        margin-left: 0px !important;
    }
}


.modal-overlayy {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 999;
}

.modal-cat .form-control {
    margin-top: 5px;
    background-color: var(--background);
    border: none;
    color: var(--text-color);
    padding: 10px;
}

.modal-cat .form-control::placeholder {
    color: var(--text-color);
}

.modal-footer {
    justify-content: center;
    display: flex;
    gap: 10px;
}

.category-item .button-container {
    font-size: 15px;
}

.button-container ion-icon {
    padding-right: 0 !important;
}

.btn-cat-action {
    margin-top: 20px;
    border: none;
    padding: 10px 20px;
    border-radius: 3px;
}

#btn-confirm {
    background-color: #8C52FF;
    color: white;
}

#btn-cancel {
    background-color: var(--background);
    color: var(--text-color);
}

.ion-icon-btn {
    background-color: transparent;
    border: none;
    padding: 0;
}

/*calendario*/

#calendar {
    max-width: 850px;
    margin: 0 auto;
    padding-top: 8dvh;
}

@media (width <= 500px) {
    #calendar {
        max-width: 750px;
       
    }
    
}

.calendar {
    border: 0px;
}

.hidden {
    display: none !important;
}

.bolinhas {
    justify-content: center;
    align-items: center;
}

.form-check {
    margin: 0px;
}

.form-check-inline {
    margin: 0px;
}

.fc-toolbar-title {
    text-transform: capitalize;
}

.fc .fc-toolbar-title {
    font-size: 1.75em;
    margin: 0px;
    background-color: var(--calendar-purple);
    color: var(--calendar-tittle);
    height: 50px;
    width: 280px;
    text-align: center;
    align-content: center;
    flex-wrap: wrap;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.fc-multimonth-title {
    text-transform: capitalize;
}

.fc-col-header-cell {
    text-transform: capitalize;
    background-color: var(--calendar-purple);
    color: var(--calendar-tittle);
}

.fc .fc-daygrid-day.fc-day-other {
    background-color: var(--calendar-purple);
    color: var(--white);
}

.fc .fc-daygrid-day.fc-day-other {
    background-color: var(--calendar-day-other);
    color: var(--switch);
}

.fc .fc-daygrid-day-top {
    color: var(--calendar-day-today-tittle);
}

.fc .fc-daygrid-day.fc-day-today {
    background-color: var(--calendar-day-today-background);
    color: var(--calendar-day-today-tittle);
}

.fc .fc-toolbar.fc-header-toolbar {
    margin-bottom: 0px;
    background-color: var(--calendar-background);
    padding-top: 1%;
    padding-right: 1%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    color: var(--calendar-background);
}

.fc-event-title {
    background-color: var(--popover-background);
    color: var(--event-title);
    border-radius: 20px;
}

.fc-event-time {
    background-color: var(--popover-background);
    color: var(--event-title);
    border-radius: 20px;
}

.fc-multimonth-title {
    background-color: var(--calendar-background);
    color: var(--multimonth-title);
}

.fc-multimonth-month .fc-daygrid-day-frame {
    background-color: var(--calendar-background);
    color: var(--calendar-day-today-tittle);
}

.btn-group {
    background-color: #AA8DE4;
    border: 0px;
    color: var(--button-hover);
}

.fc-today-button {
    background-color: var(--calendar-background);
    border: 0px;
    color: #AA8DE4;
}

.fc-today-button:hover {
    background-color: var(--calendar-background);
    border: 0px;
    color: #8C52FF;
}

.fc-today-button:disabled {
    background-color: var(--calendar-background);
    border: 0px;
    color: #DAD4E6;
}

.fc-next-button {
    background-color: var(--calendar-background);
    border: 0px;
    color: #AA8DE4;
}

.fc-next-button:hover {
    background-color: var(--calendar-background);
    border: 0px;
    color: #8C52FF;
}

.fc-prev-button {
    background-color: var(--calendar-background);
    border: 0px;
    color: #AA8DE4;
}

.fc-prev-button:hover {
    background-color: var(--calendar-background);
    border: 0px;
    color: #8C52FF;
}

.fc-dayGridMonth-button {
    background-color: var(--calendar-background);
    border: 0px;
    color: #AA8DE4;
}

.fc-dayGridMonth-button:hover {
    background-color: var(--calendar-background);
    border: 0px;
    color: #8C52FF;
}

.fc-dayGridMonth-button.btn.active {
    background-color: var(--calendar-background);
    border: 0px;
    color: #AA8DE4;
}

.fc-multiMonthYear-button {
    background-color: var(--calendar-background);
    border: 0px;
    color: #AA8DE4;
    font-size: 0px;
}

.fc-multiMonthYear-button.btn.active {
    background-color: var(--calendar-background);
    border: 0px;
    color: #AA8DE4;
}

.fc-multiMonthYear-button:hover {
    background-color: var(--calendar-background);
    border: 0px;
    color: #8C52FF;
}

.fc .fc-multiMonthYear-button::before {
    content: 'calendar_month';
    font-family: 'Material Symbols Outlined';
    font-size: 16px;
}

.fc .fc-dayGridMonth-button::before {
    content: 'calendar_today';
    font-family: 'Material Symbols Outlined';
    font-size: 16px;
}

.fc-dayGridMonth-button {
    background-color: var(--calendar-background);
    border: 0px;
    color: #AA8DE4;
    font-size: 0px;
}

.fc-next-button {
    background-color: var(--calendar-background);
    border: 0px;
    color: #AA8DE4;
    font-size: 0px;
}

.fc-next-button::before {
    content: 'arrow_right_alt';
    font-family: 'Material Symbols Outlined';
    font-size: 20px;
}

.fc-prev-button {
    background-color: var(--calendar-background);
    border: 0px;
    color: #AA8DE4;
    font-size: 0px;
}

.fc-prev-button::before {
    content: 'arrow_left_alt';
    font-family: 'Material Symbols Outlined';
    font-size: 20px;
}

.modal-content {
    background-color: var(--white);
    color: var(--event-title);
}

.btn-cl {
    content: 'close';
    font-family: 'Material Symbols Outlined';
    font-size: 30px;
    background-color: var(--white);
    background: transparent;
    border: none;
    color: var(--event-title);
}

.brush {
    color: var(--event-title);
}

.back {
    color: var(--event-title);
}

.fc-daygrid-day-bottom {
    color: var(--event-title);
}

.fc-more-popover {
    background-color: var(--white);
}

.fc-popover-close {
    color: var(--popover-title);
}

.fc-popover-header {
    background-color: var(--white);
    color: var(--popover-title);
}

.fc-more-popover.fc-event-title {
    background-color: var(--white);
}

.fc-daygrid-event-harness {
    background-color: var(--white);
    border-radius: 20px;
}

#dropdownMenu {
    position: absolute;
    top: 100%;
}

.file-add {
    color: var(--text-color);
    text-align: center;
    display: none;
}

.form-control {
    transition: none;
    background: var(--white);
    color: var(--text-color)  !important;
}

.form-control option {
    color: var(--text-color)  !important;
}

.modal-content {
    border-radius: 0 !important;
}

.modal-create-cat {
    display: flex;
    top: 22%;
    justify-content: center;
}

.my-modal {
    padding: 20px !important;
}

.form-control::placeholder {
    color: var(--text-color) !important;
}

.form-control:focus {
    background-color: var(--white) !important; 
}
.btn-transparent {
    background: transparent;
    border: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.select-categoria {
    padding: 10px 15px;
    border-radius: 10px !important;
}
