* {
    transition: 0.3s ease-in-out;
}

.form-signin {
    width: 40vh;
    max-width: 380px;
    padding: 25px;
    background-color: #fafafa;
    box-shadow: 0px 0px 10px 0px #f0f0f0;
}

.form-signin .form-control {
    position: relative;
    height: auto;
    margin-left: auto;
    padding: 10px 35px 10px;
    font-size: 16px;
    border-radius: 0px;
    box-shadow: 5px #fff;
}

.fullWidth {
    width: 100%;
    margin-left: -3.5px;
    text-align: center;
    padding: 10px;
    border-radius: 0px;
}

#form-layout {
    height: 97vh;
}

/* roxo */
.purple-space {
    background-color: #8C52FF;
    background: linear-gradient(to left, #7c3bff, #8C52FF);
    color: white;
}

#purple-space {
    height: 100vh
}

#titulo-purple {
    font-size: 60px;
    width: 60%;
    margin-top: -80px;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
}

/* */

.btn-btn-login {
    background-color: #8C52FF;
    color: white;
    font-size: 20px;
    transition: 0.3s ease-in-out;
}

.btn-btn-login:hover {
    background-color: #A843F6;
    color: white;
    font-size: 20px;
    transition: 0.3s ease-in-out;
}

/* icon */

#icon {
    margin-right: -55px;
    margin-left: 10px;
    color: black;
    font-size: 18px;
    z-index: 99;
}

.forgot-password a {
    list-style: none;
    text-decoration: none;
    color: black;
    transition: 0.3s ease-in-out;

}

.forgot-password a:hover {
    border-bottom: 1px solid;
    color: #A843F6;
    transition: 0.3s ease-in-out;
}

/* outline */
.outline-btn-transition {
    border: 1px solid white;
    color: white;
    padding: 15px 20px;
    font-size: 35px;
    text-decoration: none;
    font-weight: bold;
}

.btn-transition {
    margin-top: 40px;
}

/* responsive */

.mobile-aviso {
    display: NONE;
}